[submodule "packages/serial"]
	path = packages/serial
	url = https://github.com/wjwood/serial.git
[submodule "packages/ti_mmwave_rospkg"]
	path = packages/ti_mmwave_rospkg
	url = https://github.com/radar-lab/ti_mmwave_rospkg.git
