<?xml version="1.0"?>
<launch>

    <include file="$(find radar-test-package)/launch/env.launch">
    </include>

    <!-- <node name="radar" pkg="power-line-inspection" type="radar.py" output="screen" required="true"/> -->

    <!-- <node name="control" pkg="power-line-inspection" type="main.py" output="screen" required="true"/> -->
</launch>
