<?xml version="1.0"?>
<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- base node launch file-->

    <rosparam file="$(find fence_following)/config/uav.yaml"/>

    <node pkg="fence_following" type="pointCloudSampler.py" name="pointCloudSampler"/>
    <node pkg="fence_following" type="fenceDetector.py" name="fenceDetector"/>
</launch>
